/* Globals */

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12pt;
  font-family: Tahoma, sans-serif;
  background-color: #FFDF89;
/*  background-image: url("URL GOES HERE"); */

}

div#wrapper {
    min-width: 800px;
}

/* Top Stuff */

header#topHeader {
    position: absolute;
    width: 100%;
    height: 100px;
    margin: 2rem 0 2rem 0;
}

nav#navigation {
    width: 300px;
    position: absolute;
}

nav#navigation > ul {
  display: inline-block;
  text-decoration: none;
  list-style: none;
}

nav#navigation > ul > li {
  display: inline-block;
  margin: 0 2rem 0 2rem;
}

div#topImage {
    display: block;
    height: 400px;
    width: 100%;
    background-color: #B2AEA2;
    background-image: url("http://media.meltybuzz.fr/article-2420829-ratio193_900-f1411130441/l-encyclopedie-du-lol-doge-meme-dog-shiba.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 0;
}

div#muchExcite {
  position: absolute;
  font-family: Comic Sans MS, sans-serif;
  font-size: 2rem;
  color: lime;
  top: 30%;
  left: 20%;
}

/* Content */

marquee {
  color: #fff;
}

section {
  padding: 1rem;
}

section > div {
  margin: 2rem 0 2rem 0;
  overflow: hidden;
}

section > div >  p {
  margin: 10% 5% 10% 5%;
  width: 35%;
}

section#aboutMe {
  margin: 2rem 0 auto;
}

.sectionTitle {
  display: block;
  margin: 0 2px 2rem 2px;
  width: 400px;
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.3rem;
  color: #da5e1e;
  border-bottom: 1px solid #da5e1e;
}

.mypic {
  background-image:url("http://i.imgur.com/0Hq0SrM.gif");
  background-size: cover;
}

/* Fake Elements */

span.placeholderImage {
  display: block;
  margin: 0 5% 0 5%;
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 50%;
  vertical-align: middle;
}

/* Floats */

.left {
    float: left;
    clear: right;
}

.right {
  float: right;
  clear: left;
}

.clear {
    clear: both;
}

.clearLeft {
  clear: left;
}

.clearRight {
  clear: right;
}
